/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(231, 229, 229);
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
  }
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
  
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
   */ 

.logo{
    width: 120px;
    height: 30px;
}
@media (max-width: 575px ){
    .logo{
      visibility: hidden;
    }
}
.navbar-dark {
    background-color: #1c3745; }
  
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }
    
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("/img/bg-2.jpg") center top no-repeat;;
  color: floralwhite; }

.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }
  
.footer {
    background-color: #9daef5;
    margin: 0px auto;
    padding: 20px 0px; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
